* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
	font-weight: 300;
	text-align: center;
	background-color: #f8f6f0;
}
@font-face {
	font-family: zaherfont;
	src: url('HelveticaRoundedLTStd-Bd.otf');
}
h1 {
	font-weight: 200;
	margin: 0px;
	padding: 10px;
	font-size: 30px;
	background-color: #444;
	color: #fff;
	font-family: zaherfont;
}
.all {
	width: 85%;
	margin: 0 auto;
	background-color: #fff;
	height: 100vh;
	position: relative;
}
.question {
	font-size: 30px;
	margin-bottom: 20px;
	font-family: zaherfont;
}
.answers {
	margin-bottom: 20px;
	text-align: left;
	display: inline-block;
	margin-top: 20px;
}
.answers label {
	display: block;
	margin-bottom: 10px;
}

button {
	font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	// background-color: #279;
	color: #fff;
	border: none;
	border-radius: 15px 30px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover {
	background-color: #333;
}
button {
	background-color: #38a;
	transition: 0.2s ease-in;
}
.butt {
	font-weight: bold;
}
.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.5s;
}
.active-slide {
	opacity: 1;
	z-index: 2;
}
.quiz-container {
	position: relative;
	height: 200px;
	margin-top: 40px;
}
.allbut {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 60px;
}
#results {
	font-size: 30px;
}
body {
	background-color: rgb(184, 184, 184);
}
#footerr {
	width: 100%;
	height: 50px;
	background-color: #4d4d4d;
	color: #fff;
	bottom: 0px;
	position: absolute;
	p {
		text-align: center;
		line-height: 50px;
		font-family: roboto;
		font-weight: bold;
	}
}

@media screen and (max-width: 500px) {
	.butt {
		padding: 0;
		font-size: 13px;
		width: 140px;
		height: 40px;
		font-weight: bold;
	}
	.question {
		font-size: 20px;
	}

	#footerr {
		height: 38px;
		p {
			line-height: 38px;
			font-size: 12px;
		}
	}
	.all {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	#results {
		font-size: 25px;
	}
	h1 {
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		font-size: 25px;
		padding: 0;
	}
	#footerr {
		position: initial;
	}
}
