$color_div_q: rgba(196, 196, 196, 0.6);
$border_color_q: 17px;
$body_color: rgba(221, 221, 221, 0.527);
$font_first: url("fonts/HelveticaRoundedLTStd-Bd.otf");
@font-face {
	font-family: Myfont;
	src: $font_first;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: $body_color;
}
#all {
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
#all-quition {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
.divbut {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	.but-qu {
		width: 150px;
		height: 80px;
		cursor: pointer;
		border: none;
		background-color: black;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 15px;
	}
	.but-qu:hover {
		background-color: $color_div_q;
		color: black;
        border: 1px solid black;
	}
	#but-left {
		clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
	}
	#but-right {
		padding-right: 8px;
		clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
	}
}
.div-center {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#quition-text {
	font-size: 35px;
	width: 80%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div-qu {
	background-color: $color_div_q;
	width: 60%;
	height: 80px;
	border-radius: $border_color_q;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.answer {
	font-size: 22px;
}
.navform {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
}
p {
	font-family: Myfont;
}
#h22 {
	font-family: Myfont;
	font-weight: normal;
}
.div-qu:hover {
	background-color: lightsteelblue;
}
#footerr {
	width: 100%;
	height: 50px;
	background-color: darkgray;
	color: #fff;
	p {
		text-align: center;
		line-height: 50px;
		font-family: roboto;
		font-weight: bold;
	}
}
@media screen and (max-width: 500px) {
    .div-center {
        height: 430px;
    }
	.divbut .but-qu {
		font-size: 10px;
		width: 70px;
		height: 50px;
	}
	#all-quition {
		height: 270px;
	}
	.div-qu {
		height: 45px;
	}
	.answer {
		font-size: 15px;
	}
	#quition-text {
		font-size: 20px;
	}
	.div-center {
		height: 500px;
	}

	.navform {
		height: 80px;
		p {
			font-size: 12px;
		}
		#h22 {
			font-size: 17px;
			margin-top: 20px;
		}
	}

	#footerr {
		height: 38px;
		p {
			line-height: 38px;
			font-size: 12px;
		}
	}
}
